
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background: url("Ash11.jpg") no-repeat top right fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

/*----------nav------------*/

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.navbar-logo {
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    cursor: pointer;
}

.nav-item {
    display: block;
    
    word-spacing: 3px;
    right: 50px;
    justify-content: end;
    
}

.nav-item a {
    color: #fafafa;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 20px;
    
}

.navbar .navbar-toggler {
    border: 0;
}


.nav-item a:hover {
    color: darkgreen;
}

.navbar-logo:hover{
    color: darkgreen;
}

.nav-item li{
    list-style: none;
    text-decoration: none;
}

/*-----------blockdivider-----------*/

.block-divider {
    background-color: darkgreen;
    width: 30%;
    height: 3px;
}


/*-------------------callout container-----------*/

/*------------about container-------*/



.callout-container {

        margin-top: 10px;
        padding: 10%;
}

/*------------hover from hover.css---------*/

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
 

/*-----------jumbotron------------*/

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    padding-bottom: 50px;

}

.jumbotron h1 {
    color: #fafafa;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: capitalize;
}



.jumbotron .lead {
        font-size: 60px;
        margin: 0px 0;
        color: #fafafa;
}

/*-----------button---------*/

.btn {
    border-radius: 10px;
    background-color: darkgreen;
    margin-top: 10px;
    
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

/*---------about-------*/

.about h1 {
    padding-top: 30px;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: solid;
    border: 3px solid darkgreen;
}

.about-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 35px;
    color: #fafafa;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
}

.about-container p {
    margin-top: 30px;
    margin-bottom: 50px;
}

/*----------gallery-------*/

.container-gallery{
    background-color: #172b0f;
    padding-bottom: 35px;
    color: #fafafa;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
}

 .container-gallery h1 {
     padding-top: 30px;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: solid;
    border: 3px solid black;
 }

 .para {
     color: white;
     margin-bottom: 2rem;
 }

.gallery-wrap {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    }

.item:hover{
    flex: 4;
  }

.item-1 { 
    background-image: url('Ash.jpg');
}

.item-2 { 
    background-image: url('Ash11.jpg');
}

.item-3 { 
    background-image: url('ashfull.jpg');
}

.item-4 { 
    background-image: url('ashgreen.jpg');
}

.item-5 { 
    background-image: url('ashsmolder.jpg');
}

  
  img{
    display: block;
    width: 32px;
  }

/*--------------showreel-----------*/


.showreel-container {
     background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 35px;
    color: #fafafa;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
    

.showreel-container h1 {
    padding-top: 30px;
    margin: 50px 0 30px;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: solid;
    border: 3px solid darkgreen;
}

.showreel-container p {
    margin-top: 30px;
    margin-bottom: 50px;
}

.showreel-container .first {
    text-align: left;
}

/*------------CV------------*/

.cv-container {
    background-color: #172b0f;
    padding-bottom: 35px;
    color: #fafafa;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.cv-container h1 {
    padding-top: 30px;
    margin: 50px 0 30px;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: solid;
    border: solid black;
}

/*----------------media--------------*/

@media screen and (max-width:1024px){
    
}

@media screen and (max-width:720px){

}